.TheBigBox {
    height: 200px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    display: block;
}

.box, .clock {
    height: 170px;
    width: 125px;
    background-color: rgb(21, 21, 22);
    border-radius: 5px;
    margin: 15px;
    overflow: hidden;
}
.allBoxes{
    margin-left: 90px;
    overflow: hidden;
}

p {
    margin-top: 35%;
}
